@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --scrollbar-width: 25px;        /* Wider scrollbar */
  --scrollbar-track-bg: #E5E7EB;  /* Track background color */
  --scrollbar-thumb-bg:#EC3F3F ;  /* Thumb background color (indigo) */
  --scrollbar-border-radius: 50px; /* More rounded thumb and track */
  --scrollbar-thumb-border: 4px solid #E5E7EB; /* Thumb border */
}

* {
  font-family: "Exo 2", sans-serif;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: var(--scrollbar-width);  /* Wider scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);  /* Track background color */
  border-radius: var(--scrollbar-border-radius); /* Rounded scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);  /* Thumb color (indigo) */
  border-radius: var(--scrollbar-border-radius); /* Fully rounded scrollbar thumb */
  border: var(--scrollbar-thumb-border);        /* Padding between thumb and track */
}




